.section {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
    /* background-image:
      url('../../images/Background/main-background-img-768-1x.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 45%; */
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    /* .section {
      background-image: url('../../images/Background/main-background-img-768-2x.webp');
    } */
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 100px 0;
    /* background-image:
      url('../../images/Background/main-background-img-1200-1x.webp'); */
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    /* .section {
      background-image: url('../../images/Background/main-background-img-1200-2x.webp');
    } */
  }
}